        a { color: skyblue;
            text-decoration: none;}
        ul {color: gray;}
       h1 { text-align: center; font-size: 50px;
            border-bottom: black 2px solid;
            padding: 25px;
            margin:0px;
       }
       ol { text-align: left; font-size: 25px;
            border-right: black 2px solid;
            padding: 10px;
            margin:7px;
            width: 120PX;
       }
       #grid { display: grid;
               grid-template-columns: 190px 1fr;

       }

       #grid ol{
            padding-left: 35px; 
       } /*부모가 #grid인 ol태그의 설정만 변경, 특정 출신 적어서 #grid #article 처럼 애*/

       @media(max-width:800px){
            #grid{
                display: block;
            }

            ol{
                border-right: none;   
            }
        }

        